*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial;
}

.container{
    width: 960px;
    margin: auto;
}

.modelo{
    display: table;
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

input, textarea{
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 15px;
}

textarea{
    height: 200px;
}

.btn{
    height: 40px;
    padding: 10px;
    color: white;
    background: darkmagenta;
    border: 0;
    border-radius: 4px;
    float: right;
}

.btn:hover{
    background: darkslateblue;
    cursor: pointer;
}